<!DOCTYPE html>
<html lang="pt">

<head>
    <title>DRINK WATER!</title>
</head>

<body>
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        {{ form_usuario.email.erros }}
        <label>Email: </label>
        {{ form_usuario.email }}
      </div>

      <div class="form-group">
        {{ form_usuario.nome.erros }}
        <label>Nome: </label>
        {{ form_usuario.nome }}
      </div>

      <div class="form-group">
        {{ form_usuario.peso.erros }}
        <label>Peso: </label>
        {{ form_usuario.peso }}
      </div>

      <div class="form-group">
        {{ form_usuario.password1.erros }}
        <label>Senha: </label>
        {{ form_usuario.password1 }}
      </div>

      <div class="form-group">
        {{ form_usuario.password2.erros }}
        <label>Confirmação de Senha: </label>
        {{ form_usuario.password2 }}
      </div>
      <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary">
      </div>
      
  <!-- Page Content -->
  <!-- Bootstrap core JavaScript -->

</body>

</html>